body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2em;
    background-color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

th, td {
    border: 1px solid #ccc;
    padding: 0.5em;
    text-align: left;
}

thead {
    background-color: #eee;
}

section {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

button {
    margin-top: 1em;
}

.spv {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}

#result pre {
    background: #f0f0f0;
    padding: 1em;
}
